.header {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(43, 43, 43);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  padding: 0 1em 0 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 5em;
}

.header-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-links a {
  color: #ffffff;
  font-size: 1.2em;
  margin-right: 1em;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title a {
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.header a:hover {
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 10px;
}

.header-title img {
  padding: 0.8em 1em 0.8em 0;
  max-width: 100%;
  max-height: 100%;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu img {
  padding: 0.8em 1em 0.8em 0;
  width: 100%;
  height: 100%;
}

.header-index {
  display: block;
}

#navButton {
  cursor: pointer;
}

#navButton:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

#navButton:active {
  transform: scale3d(0.95, 0.95, 0.95) !important;
}

@media only screen and (max-width: 700px) {
  .header-links {
    display: none;
  }

  #logo {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .header-menu {
    display: none;
  }
}

@media (min-width: 900px) {
  .header-index {
    display: none;
  }
}
