@media (min-width: 1200px) {
  .header-index {
    display: none;
  }
}

@media (max-width: 1199px) {
  .games-section {
    overflow-y: hidden; 
    pointer-events: none;
    opacity: 0;
    border-top: 0;
    box-shadow: none;
    transform: translateY(100%);
    transition: transform 0.6s ease, height 0.6s ease;
    height: 0;
  }
  
  .main-section {
    height: 100vh;
    padding-top: 0;
    overflow-y: hidden;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
  }

  .header-links a {
    display: inline-block;
    white-space: pre-line;
    text-align: left;
  }
}

@media (min-width: 900px) {
  #title br {
    display: none;
  }

  #title::after {
    content: " ";
    display: inline;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 1rem;
  }
  
  .title-container h1 {
    font-size: 1em;
  }

  .tip-bubble {
    display: none !important;
  }
  
  .button-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: -3em;
   }
  
  .button-wrapper {
    margin-bottom: 1em;
  }
  
  .assistant-img {
    height: 16.75rem;
  }
  
  .main-section .btn-primary,
  .main-section .btn-secondary {
    width: 16.25rem;
    height: 3.625rem;
    font-size: 1.4rem;
  }

  .navigation-arrow .arrow-text {
    display: none;
   }
  
  h1,
  h2 {
    line-height: 1.2em;
  }
}

@media (max-width: 700px) {
  .width-90 { max-width: 100%; }
  .width-70 { max-width: 90%; }
  .width-60 { max-width: 80%; }
  .width-40 { max-width: 70%; }

  .header-links {
    display: none;
  }

  #logo {
    display: none;
  }
}

@media (max-width: 470px) {
  .container {
    overflow-x: hidden;
  }

  .content {
    width: 100%;
    padding: 0.5rem;
  }

  textarea {
    max-width: 95%;
  }
}
