@media only screen and (max-width: 700px) {
  .header-links {
    display: none;
  }

  #logo {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .header-menu,
  .header-index {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn-primary:hover {
    border-color: var(--accent);
    box-shadow: 0 0 1.5625rem 0.125rem rgba(255,87,34,0.7);
    transform: scale(1.03);
  }

  .btn-secondary:hover {
    border-color: #ff0000;
    box-shadow: 0 0 1.5625rem 0.125rem rgba(255,0,0,0.7);
    transform: scale(1.03);
  }

  .menu-toggle:hover {
    transform: scale(1.02);
    background-color: #3d3f4a;
    border-color: var(--accent);
  }

  .menu-items .menu-link:hover {
    background-color: rgba(255, 87, 34, 0.08);
  }

  .blur:hover {
    backdrop-filter: saturate(120%) blur(1rem);
    -webkit-backdrop-filter: saturate(120%) blur(1rem);
  }
}

@media screen and (min-width: 900px) {
  #title br {
    display: none;
  }

  #title::after {
    content: " ";
    display: inline;
  }
}

@media only screen and (max-width: 900px) {
  .title-container h1 {
    font-size: 1em;
  }

  .tip-bubble {
    display: none !important;
  }
  
  .button-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: -3em;
   }
  
  .button-wrapper {
    margin-bottom: 1em;
  }
  
  .assistant-img {
    height: 16.75rem;
  }
  
  .main-section .btn-primary,
  .main-section .btn-secondary {
    width: 16.25rem;
    height: 3.625rem;
    font-size: 1.4rem;
  }

  .navigation-arrow .arrow-text {
    display: none;
   }
  
  h1,
  h2 {
    line-height: 1.2em;
  }
}

@media (max-width: 1200px) {
  .games-section {
    overflow-y: hidden; 
    pointer-events: none;
    opacity: 0;
    border-top: 0;
    box-shadow: none;
    transform: translateY(100%);
    transition: transform 0.6s ease, height 0.6s ease;
    height: 0;
  }
  .main-section {
    height: 100vh;
    padding-top: 0;
    overflow-y: hidden;
    transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
  }
}
