@media only screen and (max-width: 700px) {
  .header-links {
    display: none;
  }

  #logo {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .header-menu,
  .header-index {
    display: none;
  }
}
