



@media (max-width: 900px) {
  .content {
    padding: 1rem;
  }

  .title-container h1 {
    font-size: 1em;
  }

  .tip-bubble {
    display: none !important;
  }

  .button-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: -3rem;
  }

  .button-wrapper {
    margin-bottom: 1em;
  }

  .assistant-img {
    height: 16.75rem;
  }

  .main-section .btn-primary,
  .main-section .btn-secondary {
    width: 16.25rem;
    height: 3.625rem;
    font-size: 1.4rem;
  }

  .navigation-arrow .arrow-text {
    display: none;
  }

  h1,
  h2 {
    line-height: 1.2em;
  }
}

@media (max-width: 700px) {
  .width-90 {
    max-width: 100%;
  }
  .width-70 {
    max-width: 90%;
  }
  .width-60 {
    max-width: 80%;
  }
  .width-40 {
    max-width: 70%;
  }
}

@media (max-width: 470px) {
  .container {
    overflow-x: hidden;
  }

  .content {
    width: 100%;
    padding: 0.5rem;
  }

  textarea {
    max-width: 95%;
  }
}

